.toolbar {
  box-shadow: 0 6px 16px -8px rgb(0 0 0 / 8%), 0 9px 28px 0 rgb(0 0 0 / 5%), 0 12px 48px 16px rgb(0 0 0 / 3%);
  display: inline-flex;
  align-items: center;
  padding: 12px 16px;
  background-color: rgba(255, 255, 255, 0.6); 
}

.toolbar.floating-toolbar {
  position: absolute;
  left: 0;
  top: 100px;
}

.toolbar-draggable-icon {
  line-height: 0;
  margin-left: -8px;
  margin-right: 8px;
  cursor: move;
  color: #666;
}

.toolbar-non-draggable {
  display: flex;
}

.toolbar-non-draggable .toolbar-item {
  position: relative;
  display: inline-flex;
  height: 48px;
  width: 48px;
  justify-content: center;
  align-items: center;
}

.toolbar-non-draggable .toolbar-item.active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background-color: aquamarine;
}

.popover-content {
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 10px, rgb(0 0 0 / 16%) 0px 2px 5px;
  padding: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.item-wrapper {
  display: flex;
}

.item-wrapper:not(:last-child) {
  margin-bottom: 16px;
}
